In [1]:
import pandas as pd

df = pd.read_csv("Nassau Candy Distributor.csv")

df = df[(df['Sales'] > 0) & (df['Units'] > 0)]
df['Division'] = df['Division'].str.strip().str.title()

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost
0,1,US-2021-103800-CHO-MIL-31000,03-01-2024,30-06-2026,Standard Class,103800,United States,Houston,Texas,77095,Chocolate,Interior,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28
1,2,US-2021-112326-CHO-TRI-54000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60
2,3,US-2021-112326-CHO-NUT-13000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00
3,4,US-2021-112326-CHO-SCR-58000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,10.80,3,7.50,3.30
4,5,US-2021-141817-CHO-TRI-54000,05-01-2024,05-07-2026,Standard Class,141817,United States,Philadelphia,Pennsylvania,19143,Chocolate,Atlantic,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,11.25,3,7.35,3.90

In [2]:
df['Gross_Margin_Percent'] = (df['Gross Profit'] / df['Sales']) * 100

In [3]:
df['Profit_per_Unit'] = df['Gross Profit'] / df['Units']

In [4]:
total_sales = df['Sales'].sum()
total_profit = df['Gross Profit'].sum()

df['Revenue_Contribution_%'] = (df['Sales'] / total_sales) * 100
df['Profit_Contribution_%'] = (df['Gross Profit'] / total_profit) * 100

In [5]:
top_products_profit = df.groupby('Product Name')['Gross Profit'].sum().sort_values(ascending=False).head(10)
top_products_profit

Product Name
Wonka Bar -Scrumdiddlyumptious       19357.50
Wonka Bar - Triple Dazzle Caramel    18610.20
Wonka Bar - Milk Chocolate           17443.37
Wonka Bar - Nutty Crunch Surprise    16819.95
Wonka Bar - Fudge Mallows            16593.60
Lickable Wallpaper                    3930.00
Wonka Gum                              310.70
Everlasting Gobstopper                 104.00
Kazookles                               92.75
Hair Toffee                             59.50
Name: Gross Profit, dtype: float64

In [6]:
high_sales_low_margin = df[
    (df['Sales'] > df['Sales'].quantile(0.75)) &
    (df['Gross_Margin_Percent'] < df['Gross_Margin_Percent'].quantile(0.25))
]

high_sales_low_margin[['Product Name', 'Sales', 'Gross_Margin_Percent']]

                     Product Name  Sales  Gross_Margin_Percent
29     Wonka Bar - Milk Chocolate  19.50             64.923077
65     Wonka Bar - Milk Chocolate  32.50             64.923077
74     Wonka Bar - Milk Chocolate  26.00             64.923077
76     Wonka Bar - Milk Chocolate  42.25             64.923077
102    Wonka Bar - Milk Chocolate  19.50             64.923077
...                           ...    ...                   ...
10059  Wonka Bar - Milk Chocolate  22.75             64.923077
10068  Wonka Bar - Milk Chocolate  19.50             64.923077
10101          Lickable Wallpaper  80.00             50.000000
10134  Wonka Bar - Milk Chocolate  29.25             64.923077
10141  Wonka Bar - Milk Chocolate  22.75             64.923077

[552 rows x 3 columns]

In [7]:
division_metrics = df.groupby('Division').agg(
    Total_Sales=('Sales', 'sum'),
    Total_Profit=('Gross Profit', 'sum'),
    Avg_Margin=('Gross_Margin_Percent', 'mean')
).sort_values(by='Total_Profit', ascending=False)

division_metrics

           Total_Sales  Total_Profit  Avg_Margin
Division
Chocolate    131692.90      88824.62   67.458162
Other          9663.25       4333.45   37.672457
Sugar           427.48        284.73   57.689001

## Profitability Metrics Overview

Key profitability indicators were calculated at both product and division levels.

Metrics used:
- Gross Margin (%) to evaluate pricing efficiency
- Profit per Unit to measure unit economics
- Revenue and Profit Contribution to identify dependency risks

These metrics allow identification of:
- High-profit and high-margin products
- High-revenue but low-margin products
- Divisions with strong or weak financial efficiency